.tableOver {
  border-collapse: collapse;
  width: 500px;
  margin: 0 auto;
  border-radius: 10px;
}
.tableItem {
  text-align: left;
  padding: 8px;
  text-align: center;
}
.tableHeaderItem {
  box-shadow: 0 4px 20px rgba(119, 222, 1780, 0.3);
  border-radius: 10px;
  padding: 8px;
}
.tableHeader {
  text-align: left;
  padding: 8px;
  background-color: #77deb2;
  text-align: center;
}
